{%- liquid
  assign country_selector = false
  assign locale_selector = false

  if section.settings.show_country_selector and localization.available_countries.size > 1
    assign country_selector = true
  endif
  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  assign shape_dividers = section.blocks | where: 'type', 'shape_divider'
  assign shape_dividers_size = shape_dividers.size
  assign content_blocks_size = section.blocks.size | minus: shape_dividers_size

  case content_blocks_size
    when 1
      assign block_width_desktop = 'lg:col-span-full'
    when 2
      assign block_width_desktop = 'lg:col-span-6'
    when 3
      assign block_width_desktop = 'lg:col-span-4'
    when 4
      assign block_width_desktop = 'lg:col-span-6 xl:col-span-3'
    else
      assign block_width_desktop = 'lg:col-span-4'
  endcase
-%}

{% comment %}
  <img
    class="footer-grass"
    src="https://cdn.shopify.com/s/files/1/0598/8302/8614/files/footer-grass.svg?v=1752482665"
    alt="Grass"
    width="1920"
    height="110"
  >
{% endcomment %}
<img
  src="{{ 'pasto-animate-v2.gif' | asset_url }}"
  loading="lazy"
  alt="Logo"
  width="1920"
  height="110"
  class="inline-block"
>
<footer
  class="footer-main relative bg-scheme-background px-section  text-scheme-text bg-scheme-gradient"
  data-color-scheme="{{ section.settings.color_scheme }}"
>
  <div class="container mx-auto">
    <div class="section-content relative z-10 mx-auto max-w-site py-section-vertical-spacing">
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-12 lg:gap-theme">
        <div class="space-y-5 lg:col-span-4">
          <a class="" href="{{ routes.root_url }}">
            <img
              src="{{ 'logo-footer-tio-saji-2x.webp' | asset_url }}"
              alt="Logo"
              width="306"
              height="100"
              class="inline-block"
            >
          </a>
          <ul class="-mx-2 -mt-2 flex flex-wrap justify-start lg:justify-start">
            <li class="mx-2 mt-2">
              <a class="fill-current" href="https://www.facebook.com/shopify" target="_blank">
                <span class="inline-block h-5 w-5" aria-hidden="true">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    viewBox="0 0 24 24"
                    fill="none"
                    class="icon icon-facebook fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M11.9998 2.0368C6.47711 2.0368 2 6.51391 2 12.0366C2 16.7261 5.22874 20.6612 9.58425 21.742V15.0925H7.52229V12.0366H9.58425V10.7198C9.58425 7.3163 11.1246 5.73873 14.4662 5.73873C15.0997 5.73873 16.1929 5.86313 16.6401 5.98713V8.75707C16.4041 8.73227 15.9941 8.71987 15.4849 8.71987C13.8454 8.71987 13.2118 9.34106 13.2118 10.9558V12.0366H16.4781L15.9169 15.0925H13.2118V21.9632C18.1633 21.3652 22 17.1493 22 12.0366C21.9996 6.51391 17.5225 2.0368 11.9998 2.0368Z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="visually-hidden">Facebook</span>
              </a>
            </li>

            <li class="mx-2 mt-2">
              <a class="fill-current" href="https://instagram.com/shopify" target="_blank">
                <span class="inline-block h-5 w-5" aria-hidden="true">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    viewBox="0 0 24 24"
                    fill="none"
                    class="icon icon-instagram fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0059 3.80113C14.6783 3.80113 14.9947 3.81285 16.0457 3.85974C17.0225 3.90272 17.5499 4.06681 17.9015 4.20356C18.3665 4.38328 18.7025 4.60207 19.0502 4.9498C19.4018 5.30143 19.6167 5.63352 19.7964 6.09846C19.9332 6.45009 20.0973 6.98144 20.1403 7.95429C20.1871 9.00918 20.1989 9.32565 20.1989 11.9941C20.1989 14.6665 20.1871 14.983 20.1403 16.034C20.0973 17.0107 19.9332 17.5382 19.7964 17.8898C19.6167 18.3548 19.3979 18.6908 19.0502 19.0385C18.6986 19.3901 18.3665 19.605 17.9015 19.7847C17.5499 19.9215 17.0186 20.0856 16.0457 20.1285C14.9908 20.1754 14.6743 20.1871 12.0059 20.1871C9.33346 20.1871 9.01699 20.1754 7.96601 20.1285C6.98925 20.0856 6.46181 19.9215 6.11018 19.7847C5.64524 19.605 5.30924 19.3862 4.96151 19.0385C4.60988 18.6869 4.395 18.3548 4.21527 17.8898C4.07853 17.5382 3.91443 17.0068 3.87146 16.034C3.82457 14.9791 3.81285 14.6626 3.81285 11.9941C3.81285 9.32174 3.82457 9.00527 3.87146 7.95429C3.91443 6.97753 4.07853 6.45009 4.21527 6.09846C4.395 5.63352 4.61379 5.29752 4.96151 4.9498C5.31314 4.59816 5.64524 4.38328 6.11018 4.20356C6.46181 4.06681 6.99316 3.90272 7.96601 3.85974C9.01699 3.81285 9.33346 3.80113 12.0059 3.80113ZM12.0059 2C9.29048 2 8.95057 2.01172 7.88396 2.05861C6.82125 2.10549 6.09064 2.2774 5.4577 2.52354C4.79742 2.7814 4.23872 3.12131 3.68392 3.68002C3.12522 4.23481 2.78531 4.79351 2.52745 5.44989C2.2813 6.08674 2.1094 6.81344 2.06251 7.87615C2.01563 8.94667 2.00391 9.28658 2.00391 12.002C2.00391 14.7173 2.01563 15.0572 2.06251 16.1239C2.1094 17.1866 2.2813 17.9172 2.52745 18.5501C2.78531 19.2104 3.12522 19.7691 3.68392 20.3239C4.23872 20.8787 4.79742 21.2225 5.4538 21.4765C6.09064 21.7226 6.81734 21.8945 7.88005 21.9414C8.94667 21.9883 9.28657 22 12.0019 22C14.7173 22 15.0572 21.9883 16.1238 21.9414C17.1866 21.8945 17.9172 21.7226 18.5501 21.4765C19.2065 21.2225 19.7652 20.8787 20.32 20.3239C20.8748 19.7691 21.2186 19.2104 21.4725 18.554C21.7187 17.9172 21.8906 17.1905 21.9375 16.1278C21.9844 15.0611 21.9961 14.7212 21.9961 12.0059C21.9961 9.29049 21.9844 8.95058 21.9375 7.88396C21.8906 6.82125 21.7187 6.09064 21.4725 5.45771C21.2264 4.79351 20.8865 4.23481 20.3278 3.68002C19.773 3.12522 19.2143 2.7814 18.5579 2.52745C17.9211 2.2813 17.1944 2.1094 16.1317 2.06251C15.0611 2.01172 14.7212 2 12.0059 2ZM12.0059 6.86423C9.16937 6.86423 6.86814 9.16546 6.86814 12.002C6.86814 14.8384 9.16937 17.1397 12.0059 17.1397C14.8423 17.1397 17.1436 14.8384 17.1436 12.002C17.1436 9.16546 14.8423 6.86423 12.0059 6.86423ZM12.0059 15.3346C10.1657 15.3346 8.67317 13.8422 8.67317 12.002C8.67317 10.1618 10.1657 8.66927 12.0059 8.66927C13.8461 8.66927 15.3385 10.1618 15.3385 12.002C15.3385 13.8422 13.8461 15.3346 12.0059 15.3346ZM17.3467 7.86048C18.007 7.86048 18.5462 7.32522 18.5462 6.66103C18.5462 6.00074 18.007 5.46157 17.3467 5.46157C16.6865 5.46157 16.1473 5.99683 16.1473 6.66103C16.1473 7.32131 16.6825 7.86048 17.3467 7.86048Z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="visually-hidden">Instagram</span>
              </a>
            </li>

            <li class="mx-2 mt-2">
              <a class="fill-current" href="https://www.snapchat.com/add/shopify" target="_blank">
                <span class="inline-block h-5 w-5" aria-hidden="true">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    viewBox="0 0 24 24"
                    class="icon icon-snapchat fill-current"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M21.9277 16.4022C21.7898 16.0243 21.5242 15.82 21.2229 15.6565C21.1667 15.6259 21.1157 15.5953 21.0697 15.5748C20.9778 15.5289 20.8858 15.4829 20.7939 15.4369C19.8542 14.9364 19.1188 14.3134 18.6131 13.5677C18.4701 13.3583 18.3425 13.1336 18.2403 12.9038C18.1944 12.7812 18.1995 12.7097 18.2301 12.6433C18.2608 12.5922 18.3016 12.5514 18.3527 12.5156C18.5161 12.4084 18.6795 12.3011 18.7919 12.2296C18.9911 12.0968 19.1545 11.9947 19.2567 11.9232C19.6397 11.6525 19.9104 11.3665 20.0789 11.0448C20.3189 10.5953 20.3496 10.0693 20.1657 9.59434C19.9104 8.9202 19.2771 8.50652 18.5059 8.50652C18.3425 8.50652 18.1841 8.52184 18.0207 8.55759C17.9799 8.5678 17.9339 8.57802 17.893 8.58823C17.8981 8.12859 17.8879 7.64341 17.8471 7.16333C17.7041 5.48308 17.1116 4.60465 16.4988 3.90497C16.1055 3.46575 15.6459 3.09293 15.1301 2.80182C14.2006 2.27068 13.1434 2 11.9943 2C10.8452 2 9.79309 2.27068 8.86359 2.80182C8.34776 3.09293 7.88812 3.46575 7.49487 3.90497C6.88201 4.60465 6.29469 5.48819 6.14658 7.16333C6.10572 7.64341 6.09551 8.12859 6.10061 8.58823C6.05976 8.57802 6.0189 8.5678 5.97294 8.55759C5.81461 8.52184 5.65119 8.50652 5.49286 8.50652C4.72168 8.50652 4.0884 8.9253 3.83304 9.59434C3.64918 10.0693 3.67982 10.5953 3.91986 11.0448C4.0884 11.3665 4.35907 11.6525 4.74211 11.9232C4.84425 11.9947 5.00258 12.0968 5.20686 12.2296C5.31411 12.3011 5.47243 12.4033 5.63076 12.5054C5.68694 12.5412 5.7329 12.5871 5.76865 12.6433C5.79929 12.7097 5.8044 12.7812 5.75333 12.914C5.65119 13.1387 5.52861 13.3583 5.38561 13.5626C4.89022 14.2878 4.17522 14.9058 3.26614 15.4012C2.78607 15.6565 2.28557 15.8251 2.07107 16.4022C1.91275 16.8363 2.01489 17.3266 2.41836 17.7454C2.56646 17.8986 2.74011 18.0314 2.92907 18.1335C3.32232 18.348 3.74111 18.5165 4.18032 18.634C4.27225 18.6595 4.35397 18.6953 4.43057 18.7464C4.57868 18.874 4.55825 19.0681 4.75233 19.3541C4.84936 19.5022 4.97704 19.6299 5.12004 19.732C5.53372 20.018 5.99847 20.0334 6.48876 20.0538C6.93308 20.0691 7.43358 20.0896 8.01069 20.2785C8.25073 20.3551 8.49587 20.5083 8.78187 20.6871C9.47134 21.111 10.4111 21.6881 11.9892 21.6881C13.5673 21.6881 14.5121 21.1059 15.2067 20.682C15.4927 20.5083 15.7378 20.3551 15.9676 20.2785C16.5396 20.0896 17.0453 20.0691 17.4896 20.0538C17.9799 20.0334 18.4446 20.018 18.8583 19.732C19.0319 19.6095 19.1749 19.4563 19.2771 19.2724C19.4201 19.0324 19.415 18.8638 19.5478 18.7464C19.6193 18.6953 19.701 18.6595 19.7827 18.6391C20.2219 18.5217 20.6509 18.3531 21.0493 18.1335C21.2484 18.0263 21.4323 17.8833 21.5855 17.7147L21.5906 17.7096C21.989 17.301 22.086 16.821 21.9277 16.4022ZM20.5283 17.1529C19.6754 17.6228 19.1034 17.5717 18.6642 17.8577C18.2863 18.0978 18.511 18.6187 18.2403 18.8077C17.9033 19.0375 16.9125 18.7923 15.6357 19.2162C14.5785 19.5635 13.9095 20.5696 12.0096 20.5696C10.1097 20.5696 9.45602 19.5686 8.38351 19.2162C7.10673 18.7923 6.11594 19.0426 5.77886 18.8077C5.50819 18.6187 5.72779 18.0978 5.35497 17.8577C4.91065 17.5717 4.34375 17.6228 3.49086 17.1529C2.94439 16.8516 3.25593 16.6678 3.43468 16.5809C6.52962 15.0845 7.02501 12.771 7.04544 12.5973C7.07097 12.388 7.10162 12.2245 6.8718 12.0151C6.65219 11.8108 5.67161 11.2031 5.39583 11.0141C4.9464 10.6975 4.74722 10.386 4.89533 9.99781C4.99747 9.73224 5.24772 9.63009 5.50819 9.63009C5.5899 9.63009 5.67161 9.64031 5.75333 9.65563C6.24872 9.76288 6.7288 10.008 7.00458 10.0795C7.04033 10.0897 7.07098 10.0948 7.10673 10.0948C7.25483 10.0948 7.3059 10.0182 7.29569 9.8497C7.26505 9.30834 7.18844 8.25627 7.27526 7.27059C7.39273 5.91719 7.82683 5.24304 8.34776 4.65061C8.59801 4.36461 9.76755 3.12868 12.0096 3.12868C14.2516 3.12868 15.4212 4.35951 15.6714 4.64551C16.1924 5.23794 16.6265 5.91208 16.7439 7.26548C16.8308 8.25116 16.7541 9.30323 16.7184 9.84459C16.7082 10.0233 16.7593 10.0897 16.9074 10.0897C16.9431 10.0897 16.9738 10.0846 17.0095 10.0744C17.2853 10.008 17.7654 9.75777 18.2608 9.65052C18.3425 9.63009 18.4242 9.62499 18.5059 9.62499C18.7664 9.62499 19.0166 9.72713 19.1188 9.9927C19.2669 10.3808 19.0677 10.6924 18.6183 11.009C18.3476 11.198 17.367 11.8057 17.1423 12.01C16.9125 12.2194 16.9431 12.3828 16.9686 12.5922C16.9891 12.7659 17.4845 15.0794 20.5794 16.5758C20.7633 16.6626 21.0697 16.8516 20.5283 17.1529Z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="visually-hidden">Snapchat</span>
              </a>
            </li>

            <li class="mx-2 mt-2">
              <a class="fill-current" href="https://www.tiktok.com/@shopify" target="_blank">
                <span class="inline-block h-5 w-5" aria-hidden="true">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    viewBox="0 0 24 24"
                    class="icon icon-tiktok fill-current"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M16.0188 2H12.6482V15.6232C12.6482 17.2464 11.3518 18.5797 9.73853 18.5797C8.12526 18.5797 6.82889 17.2464 6.82889 15.6232C6.82889 14.029 8.09645 12.7246 9.65212 12.6667V9.24639C6.22391 9.30433 3.45831 12.1159 3.45831 15.6232C3.45831 19.1594 6.28153 22 9.76735 22C13.2531 22 16.0763 19.1304 16.0763 15.6232V8.63767C17.3439 9.56522 18.8996 10.1159 20.5416 10.1449V6.72464C18.0065 6.63768 16.0188 4.55072 16.0188 2Z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="visually-hidden">TikTok</span>
              </a>
            </li>

            <li class="mx-2 mt-2">
              <a class="fill-current" href="https://www.youtube.com/user/shopify" target="_blank">
                <span class="inline-block h-5 w-5" aria-hidden="true">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    viewBox="0 0 24 24"
                    class="icon icon-youtube fill-current"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M21.8008 8.00195C21.8008 8.00195 21.6055 6.62305 21.0039 6.01758C20.2422 5.2207 19.3906 5.2168 19 5.16992C16.2031 4.9668 12.0039 4.9668 12.0039 4.9668H11.9961C11.9961 4.9668 7.79688 4.9668 5 5.16992C4.60938 5.2168 3.75781 5.2207 2.99609 6.01758C2.39453 6.62305 2.20312 8.00195 2.20312 8.00195C2.20312 8.00195 2 9.62305 2 11.2402V12.7559C2 14.373 2.19922 15.9941 2.19922 15.9941C2.19922 15.9941 2.39453 17.373 2.99219 17.9785C3.75391 18.7754 4.75391 18.748 5.19922 18.834C6.80078 18.9863 12 19.0332 12 19.0332C12 19.0332 16.2031 19.0254 19 18.8262C19.3906 18.7793 20.2422 18.7754 21.0039 17.9785C21.6055 17.373 21.8008 15.9941 21.8008 15.9941C21.8008 15.9941 22 14.377 22 12.7559V11.2402C22 9.62305 21.8008 8.00195 21.8008 8.00195ZM9.93359 14.5957V8.97461L15.3359 11.7949L9.93359 14.5957Z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="visually-hidden">YouTube</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="space-y-5 lg:col-span-4 ">
          <div class="flex flex-wrap justify-start gap-10 lg:justify-center">
            <div class="w-full  flex-1">
              {% comment %} JCC {% endcomment %}
              {% if menus['main-menu'].links.size > 0 %}
                <ul class="list-none space-y-2.5 lg:pt-5">
                  {% for link in menus['main-menu'].links %}
                    <li>
                      <a href="{{ link.url }}" class="secondary-text-link break-words">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="space-y-5 lg:col-span-4"></div>
      </div>
      <div class="section-content-top-margin justify-between text-scheme-text md:flex">
        <div class="{% if country_selector or locale_selector %}lg:w-1/3{% endif %}">
          <p class="text-sm">
            &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | upcase | link_to: routes.root_url }}.
            <span class="ml-2 inline-block">
              {% comment %} {{ powered_by_link }} {% endcomment %}
              Powered by Dyfferent
            </span>
          </p>
        </div>

        {%- if section.settings.show_payment_icons -%}
          {% unless shop.enabled_payment_types == empty %}
            <div class="mt-10 lg:mt-0  {% if country_selector or locale_selector %}lg:w-1/3{% endif %}">
              <h2 class="visually-hidden">
                {{ 'layout.footer.accepted_payments' | t }}
              </h2>
              <ul class="payment-icons -mx-2 {% if country_selector or locale_selector %}lg:text-center{% endif %}">
                {% for type in shop.enabled_payment_types %}
                  <li class="mx-2 inline-block w-8">
                    {{ type | payment_type_svg_tag: class: 'icon payment-icon' }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endunless %}
        {%- endif -%}

        {%- if country_selector or locale_selector -%}
          <div class="mb-4 mt-10 flex flex-wrap items-center justify-between lg:mb-0 lg:mt-0 lg:w-1/3 lg:justify-end">
            {% render 'localization-form',
              context: 'footer',
              country_selector: country_selector,
              locale_selector: locale_selector
            %}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% if shape_dividers_size > 0 %}
  <div class="absolute inset-0">
    <div class="relative inset-0 h-full w-full overflow-hidden">
      {%- liquid
        for shape_divider in shape_dividers
          render 'block-shape-divider', block: shape_divider, no_z_index: true
        endfor
      -%}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer mt-auto relative z-shape-divider",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.settings.show_payment_icons.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_countryregion_selector",
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "t:sections.footer.settings.show_country_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_language_selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.settings.show_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:common.settings.header_color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "t:common.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "t:common.settings.use_gradient_background.label"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:common.settings.logo.label",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:common.settings.logo.label",
          "info": "t:common.settings.logo.info"
        },
        {
          "type": "range",
          "id": "logo_max_width",
          "min": 20,
          "max": 400,
          "step": 10,
          "unit": "px",
          "label": "t:common.settings.logo_max_width.label",
          "default": 100
        }
      ]
    },
    {
      "type": "tagline_and_social_links",
      "name": "t:sections.footer.blocks.tagline_and_social_links.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "tagline",
          "label": "t:sections.footer.blocks.tagline_and_social_links.settings.tagline.label",
          "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.tagline_and_social_links.settings.header_social_media_icons"
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.tagline_and_social_links.settings.paragraph_to_display_your"
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "t:sections.footer.blocks.tagline_and_social_links.settings.show_social_icons.label"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.footer.blocks.newsletter.settings.header_email_signup"
        },
        {
          "type": "paragraph",
          "content": "t:common.settings.paragraph_customers_who_subscribe"
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "label": "t:sections.footer.blocks.newsletter.settings.newsletter_heading.label",
          "default": "Sign up to our newsletter"
        }
      ]
    },
    {
      "type": "menus",
      "name": "t:sections.footer.blocks.menus.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_menu_headings",
          "label": "t:sections.footer.blocks.menus.settings.show_menu_headings.label",
          "default": false
        },
        {
          "type": "link_list",
          "id": "linklist_1",
          "label": "t:sections.footer.blocks.menus.settings.linklist_1.label",
          "default": "footer",
          "info": "t:sections.footer.blocks.menus.settings.linklist_1.info"
        },
        {
          "type": "link_list",
          "id": "linklist_2",
          "label": "t:sections.footer.blocks.menus.settings.linklist_2.label",
          "info": "t:sections.footer.blocks.menus.settings.linklist_2.info"
        },
        {
          "type": "link_list",
          "id": "linklist_3",
          "label": "t:sections.footer.blocks.menus.settings.linklist_3.label",
          "info": "t:sections.footer.blocks.menus.settings.linklist_3.info"
        }
      ]
    },
    {
      "name": "t:common.blocks.shape_divider.name",
      "type": "shape_divider",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.target_section.label",
          "id": "target_section",
          "default": "above",
          "options": [
            {
              "value": "above",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_above.label"
            },
            {
              "value": "below",
              "label": "t:common.blocks.shape_divider.settings.target_section.options.section_below.label"
            }
          ],
          "info": "t:common.blocks.shape_divider.settings.target_section.info"
        },
        {
          "type": "color_scheme",
          "id": "target_section_color_scheme",
          "default": "scheme1",
          "label": "t:common.blocks.shape_divider.settings.target_section_color_scheme.label",
          "info": "t:common.blocks.shape_divider.settings.target_section_color_scheme.info"
        },
        {
          "type": "select",
          "label": "t:common.blocks.shape_divider.settings.style.label",
          "id": "style",
          "default": "waves-1-patterned_1200x20",
          "options": [
            {
              "value": "waves-1-patterned_1200x20",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_1.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "waves-2-patterned_1200x43",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_2.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "waves-3-patterned_1200x84",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_3.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "zig-zag-1-patterned_1200x21",
              "label": "t:common.blocks.shape_divider.settings.style.options.zig_zag_1.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "zig-zag-2-patterned_1200x37",
              "label": "t:common.blocks.shape_divider.settings.style.options.zig_zag_2.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "zig-zag-3-patterned_1200x65",
              "label": "t:common.blocks.shape_divider.settings.style.options.zig_zag_3.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "circles-1-patterned_1200x16",
              "label": "t:common.blocks.shape_divider.settings.style.options.circles_1.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "circles-2-patterned_1200x35",
              "label": "t:common.blocks.shape_divider.settings.style.options.circles_2.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "circles-3-patterned_1200x67",
              "label": "t:common.blocks.shape_divider.settings.style.options.circles_3.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "spikes-1-patterned_1200x132",
              "label": "t:common.blocks.shape_divider.settings.style.options.spikes_1.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "spikes-2-patterned_1200x132",
              "label": "t:common.blocks.shape_divider.settings.style.options.spikes_2.label",
              "group": "t:common.blocks.shape_divider.settings.style.group_patterned"
            },
            {
              "value": "tilt-1-shape_1440x101",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_1.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "tilt-2-shape_1440x180",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_2.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "tilt-3-shape_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.tilt_3.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "waves-1-shape_1440x261",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_1.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "waves-2-shape_1440x330",
              "label": "t:common.blocks.shape_divider.settings.style.options.waves_2.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "mountains-1-shape_1440x293",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_1.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "mountains-2-shape_1440x325",
              "label": "t:common.blocks.shape_divider.settings.style.options.mountains_2.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "curve-shape_1440x149",
              "label": "t:common.blocks.shape_divider.settings.style.options.curve.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "curve-inverse-shape_1440x149",
              "label": "t:common.blocks.shape_divider.settings.style.options.curve_inverse.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "steps-1-shape_1400x105",
              "label": "t:common.blocks.shape_divider.settings.style.options.steps_1.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "steps-2-shape_1400x105",
              "label": "t:common.blocks.shape_divider.settings.style.options.steps_2.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "arrow-1-shape_1400x33",
              "label": "t:common.blocks.shape_divider.settings.style.options.arrow_1.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "arrow-2-shape_1400x73",
              "label": "t:common.blocks.shape_divider.settings.style.options.arrow_2.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "offset-ovals-shape_1400x155",
              "label": "t:common.blocks.shape_divider.settings.style.options.offset_ovals.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "triangle-shape_1400x145",
              "label": "t:common.blocks.shape_divider.settings.style.options.triangle.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "triangle-asymmetrical-shape_1400x145",
              "label": "t:common.blocks.shape_divider.settings.style.options.triangle_asymmetrical.label",
              "group": "t:common.settings.shape.label"
            },
            {
              "value": "clouds-shape_1400x161",
              "label": "t:common.blocks.shape_divider.settings.style.options.clouds.label",
              "group": "t:common.settings.shape.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "flip_horizontal",
          "label": "t:common.blocks.shape_divider.settings.flip_horizontal.label"
        },
        {
          "type": "header",
          "content": "t:common.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "enable_animation",
          "label": "t:common.blocks.shape_divider.settings.enable_animation.label",
          "info": "t:common.blocks.shape_divider.settings.enable_animation.info"
        },
        {
          "type": "select",
          "id": "animation_direction",
          "label": "t:common.blocks.shape_divider.settings.animation_direction.label",
          "options": [
            {
              "value": "",
              "label": "t:common.options.right_to_left.label"
            },
            {
              "value": "reverse",
              "label": "t:common.options.left_to_right.label"
            }
          ],
          "default": ""
        }
      ]
    }
  ]
}
{% endschema %}
